/* $base: #FEFBF6 OR #F5E9CF;
$accent: #A6D1E6 OR #DF7857;
$accent-text: #3D3C42; */
/*$base: #EDE9D5;*/
$base: #F9F9F9;
$accent: #80D7E0;//#54BAB9;
$accent-text: #1B2430;
$accent-light: #1B2430;
$accent-dark: #3D3C42;
/*$accent-text: #1B2430;*/